@import "../../../styles.scss";

$container-width: 350px;
$container-height: 250px;
$container-max-height: 540px;
$card-form-width: 70%;


@mixin card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $container-max-height;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: grid;
  place-content: center;
  
  

  .flexDiv {
    width: 80%;
    min-height: 80vh;
    max-height: $container-max-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8vh auto;
  }
}

.logoContainer,
.mainContainer {
  height: 100%;
  max-height: $container-height;
  width: $container-width;
 
}

.mainContainer {
  // max-height: $container-max-height;
  position: relative;
  max-height: 640px;
  height: 600px;
  
}

.logoContainer {
  background-color: $primary-color;
  border-radius: 10px 10px 0 0;
  transition: 0.4s;
  padding: 0.5rem;
  
  & * {
    margin: 40px;
    color: #ccc;
    cursor: default;
  }
}

.loginCard,
.signupCard {
  @include card;

  .cardTitle {
    width: 100%;
    background-color: $accent-color;
    color: $primary-color;
    font-weight: 550;
    padding: 0.75rem;
    text-align: center;
  }

  .loginForm,
  .signupForm {
    width: $card-form-width;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputForm {
      padding-bottom: 1.2rem;
    }

    .btnForm {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        min-width: 215px;
        min-height: 38px;
      }

      p {
        padding: 0.5rem;
      }
    }
  }
}

.signupCard{
  height: $container-max-height;
  .signupForm{
    .inputForm {
      padding-bottom: 0;

    }
    .btnForm {
      button{
        min-height: 20px;
        
      }
      p{
        padding: 0.25rem;
      }
    }
  }
}




@media (min-width: $breakpoint-small) {
  .container {
    .flexDiv {
      flex-direction: row;
    }
  }

  .logoContainer,
  .mainContainer {
    height: 100%;
    min-height: $container-max-height;
    width: $container-width;
  }

  .logoContainer {
    border-radius: 10px 0 0 10px;
    box-shadow:
      rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition: 0.4s;

    & * {
      margin: 40px;
      color: #ccc;
      cursor: default;
    }
  }

  .loginCard,
  .signupCard {
    border-radius: 0 10px 10px 0;

    .cardTitle {
      border-radius: 0 10px 0 0;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .flexDiv {
    width: 100%;
  }

  .cardTitle {
    font-size: $font-size-lg;
    padding: 1rem;
  }

  .logoContainer,
  .mainContainer {
    height: 100%;
    min-height: $container-max-height;
    max-height: 620px;
    width: 450px;
  }

  .loginCard,
  .signupCard {
    min-height: $container-max-height;
    max-height: 620px;
    height: 100%;

    .loginForm,
    .signupForm {
      width: 90%;
      margin-top: 2rem;

      .inputForm {
        // padding-bottom: 1.6rem;
        width: 300px;
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  .logoContainer,
  .mainContainer {
    height: 100%;
    min-height: 620px;
    width: 550px;
  }

  .loginCard,
  .signupCard {
    min-height: 620px;
    height: 100%;

    .loginForm,
    .signupForm {
      margin-top: 4rem;
      width: 100%;

      .inputForm {
        width: 350px;
      }
    }
  }
}