<div class="container">
  <h3>Add User</h3>
  <div>
    <form class="addUserForm" [formGroup]="addUserForm" (ngSubmit)="newUser()">
      <mat-form-field class="inputField">
        <mat-label>First Name</mat-label>
        <input
          matInput
          id="firstName"
          type="text"
          placeholder="Monna"
          formControlName="firstName"
          autocomplete="name"
        />
      </mat-form-field>
      <mat-form-field class="inputField">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          id="lastName"
          type="text"
          placeholder="Lisa"
          formControlName="lastName"
          autocomplete="name"
        />
      </mat-form-field>
      <mat-form-field class="inputField">
        <mat-label>Gender</mat-label>
        <mat-select id="gender" formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="inputField">
        <mat-label>Email</mat-label>
        <input
          matInput
          id="email"
          type="email"
          placeholder="mona@lisa.test"
          formControlName="email"
          autocomplete="email"
        />
      </mat-form-field>
      <div class="button">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          mat-button
          [disabled]="!addUserForm.valid"
        >
          Add
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          mat-button
          (click)="goBack($event)"
        >
          Back
        </button>
      </div>
    </form>
  </div>
</div>
